@{
    var compare = new Func<object, string, bool>((c1, c2) =>
    {
        return c1.ToString().ToLower() == c2.ToLower();
    });
    var isActiveGroup = new Func<string, string>(c => compare(ViewContext.RouteData.Values["Controller"], c) ? "active" : null);
    var isActiveAction = new Func<string, string, string>((c, a) =>
    {
        return compare(ViewContext.RouteData.Values["Controller"], c) && compare(ViewContext.RouteData.Values["Action"], a) ? "active" : null;
    });
}

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview @isActiveGroup("Home")">
            <a href="@Url.Action("Index","Home")">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            @*<li class="treeview @isActiveGroup("User")">
                <a href="#">
                    <i class="fa fa-users"></i>
                    <span>Kullanıcı Yönetimi</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li class="@isActiveAction("User", "Index")"><a href="@Url.Action("Index", "User")"><i class="fa fa-user"></i> Kullanıcı Listesi</a></li>
                    <li class="@isActiveAction("User", "Edit")"><a href="@Url.Action("Edit", "User")"><i class="fa fa-user-plus"></i> Yeni Kullanıcı Ekle</a></li>
                    <li class="@isActiveAction("User", "CandidateTeachersList")"><a href="@Url.Action("CandidateTeachersList", "User")"><i class="fa fa-user-plus"></i> Öğretmen Başvuruları</a></li>
                </ul>
            </li>
            <li class="treeview @isActiveGroup("Site")">
                <a href="#">
                    <i class="fa fa-gears"></i>
                    <span>Site Ayarları</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li class="@isActiveAction("Setting", "Index")"><a href="@Url.Action("Index", "Setting")"><i class="fa fa-user"></i> Düzenle</a></li>
                    <li class="@isActiveAction("SiteCategory", "Index")"><a href="@Url.Action("Index", "SiteCategory")"><i class="fa fa-user"></i> Site Kategorileri</a></li>
                    <li class="@isActiveAction("Contact", "Index")"><a href="@Url.Action("Index", "Contact")"><i class="fa fa-user"></i> İletişim Mesajları</a></li>
                </ul>
            </li>

            <li class="treeview @isActiveGroup("Content")">
                <a href="#">
                    <i class="fa fa-tasks"></i>
                    <span>İçerikler</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li class="@isActiveAction("Content", "Category")"><a href="@Url.Action("Category", "Content")"><i class="fa fa-tags"></i>Kategori Listesi</a></li>
                    <li class="@isActiveAction("Content", "CategoryEdit")"><a href="@Url.Action("CategoryEdit", "Content")"><i class="fa fa-tag"></i>Yeni Kategori Ekle</a></li>
                    <li class="@isActiveAction("Content", "ContentList")"><a href="@Url.Action("ContentList", "Content")"><i class="fa fa-cubes"></i>İçerik Listesi</a></li>
                    <li class="@isActiveAction("Content", "ContentEdit")"><a href="@Url.Action("ContentEdit", "Content")"><i class="fa fa-cube"></i>Yeni İçerik Ekle</a></li>
                </ul>
            </li>
            <li class="treeview @isActiveGroup("Library")">
                <a href="#">
                    <i class="fa fa-tasks"></i>
                    <span>Dökümanlar</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li class="@isActiveAction("Library", "Index")"><a href="@Url.Action("Index", "Library")"><i class="fa fa-tags"></i>Döküman Listesi</a></li>
                    <li class="@isActiveAction("Document", "Edit")"><a href="@Url.Action("Edit", "Library", new {id=""} )"><i class="fa fa-tag"></i>Dökümen Ekle</a></li>
                </ul>
            </li>*@
            @*<li class="treeview @isActiveGroup("Video")">
                    <a href="#">
                        <i class="fa fa-video-camera"></i>
                        <span>Videolar</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li class="@isActiveAction("Video", "Category")"><a href="@Url.Action("Category", "Video")"><i class="fa fa-tags"></i>Kategori Listesi</a></li>
                        <li class="@isActiveAction("Video", "CategoryEdit")"><a href="@Url.Action("CategoryEdit", "Video")"><i class="fa fa-tag"></i>Yeni Kategori Ekle</a></li>
                        <li class="@isActiveAction("Video", "ContentList")"><a href="@Url.Action("ContentList", "Video")"><i class="fa fa-cubes"></i>Video Listesi</a></li>
                        <li class="@isActiveAction("Video", "ContentEdit")"><a href="@Url.Action("ContentEdit", "Video")"><i class="fa fa-cube"></i>Yeni Video Ekle</a></li>
                    </ul>
                </li>*@
            @*<li><a href="/Areas/Administration/Content/documentation/index.html"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
                <li class="header">LABELS</li>
                <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
                <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
                <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>*@
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
